/*
COLORS
primary: rgb(14, 59, 94);
secondary: rgb(90, 119, 187)
*/

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth !important;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    overflow-x: hidden !important;
    background: #E5E5E5  !important;
}

/*LEFT COLUMN*/
.profileLinksColumn{
/* side_nav_bg */
position: absolute !important;
width: 256px !important;
left: 0px !important;
top: 0px !important;
bottom: 0px !important;

/* white */

background: #FFFFFF !important;
/* sidebar shadow */

box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06) !important;
}

/*RIGHT COLUMN*/

